<script>
  import "mvp.css";
</script>

<svelte:head>
  <title>Anti-hour</title>
  <meta name="color-scheme" content="light" />
</svelte:head>

<slot />

<style>
  :global(html) {
    overflow-x: hidden;
  }
</style>
