<script>
  import Table from "./Table.svelte";
  import Finder from "./Finder.svelte";

  export let data;
</script>

<div class="app">
  <header>
    <h1>Anti-hour</h1>
  </header>

  <Table {data} />

  <Finder {data} />

  <footer>
    <hr>
    <a href="https://gitlab.com/eidoom/anti-hour">Source</a>
  </footer>
</div>

<style>
  .app {
    margin: 1em;
    display: flex;
    flex-direction: column;
    row-gap: 3em;
    max-width: var(--width-content);
  }

  h1 {
    margin: 0;
  }

  hr {
    margin: 0;
  }

  header {
    margin: 0;
    padding: 0;
  }

  footer {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1em;
  }

  /* var(--width-content) = 1080px */
  @media screen and (min-width: 1080px) {
    .app {
      margin: 1em auto;
    }
  }
</style>
