<script>
  import { formatter } from "$lib/datetime.js";

  export let data;

  const plural = (q) => (q !== 1 ? "s" : "");

  function format_delta(timedelta) {
    if (timedelta < 0) {
      return "now";
    }

    const seconds = timedelta / 1000;
    let minutes = seconds / 60;
    const hours = Math.floor(minutes / 60);
    minutes = Math.floor(minutes - hours * 60);

    let str = (hours ? (`${hours} hour${plural(hours)}${minutes ? ", ": ""}`) : "")
      + (minutes ? `${minutes} minute${plural(minutes)}` : "")

    return str;
  }

  function check_slots(rates, slots) {
    return slots > 0 && slots < rates.length;
  }

  function find_cheapest(rates, slots) {
    if (check_slots(rates, slots)) {
      let best = Infinity,
        start;
      for (let i = 0; i <= rates.length - slots; i++) {
        const tot = rates
          .slice(i, i + slots)
          .reduce((acc, r) => acc + r.value, 0);
        if (tot < best) {
          best = tot;
          start = rates[i].valid_from;
        }
      }
      return start;
    }
  }

  let hours = 1;

  $: slots = Math.ceil(hours * 2);
  $: cheapest = find_cheapest(data.rates, slots);
  $: valid = check_slots(data.rates, slots);
</script>

<div class="col">
  <div class="row">
    <label for="hours">Time period (hours):</label>
    <input
      type="number"
      id="hours"
      bind:value={hours}
      min="0.5"
      step="0.5"
      max={data.rates.length / 2 - 0.5}
    />
    {#if valid}
      <span>({slots} slots)</span>
    {/if}
  </div>

  <div class="res">
    {#if valid}
      <span>Cheapest:</span>
      <span>starts <span class="bold">{formatter.format(cheapest)}</span></span>
      <span>(in {format_delta(cheapest - data.time)})</span>
    {:else}
      <span>Invalid time length, try a shorter period.</span>
    {/if}
  </div>
</div>

<style>
  .bold {
    font-weight: bold;
  }

  .row {
    display: flex;
    column-gap: 1em;
    row-gap: 4px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .res {
    display: flex;
    column-gap: 1ex;
    row-gap: 2px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
  }

  input[type=number] {
    width: 4em;
  }

  label {
    font-weight: normal;
    margin: 0;
  }

  input {
    margin: 0;
  }
</style>
