<script>
  import { formatter } from "$lib/datetime.js";
  import Arrow from "./Arrow.svelte";

  export let data;

  let sortBy = "valid_from",
  asc = true;

  function handle(value) {
    if (sortBy === value) {
      asc = !asc;
    } else {
      asc = true;
      sortBy = value;
    }
  }

  function sorter(list, dir, ord) {
    const cmp = (c, a, b) => (c ? a > b : a < b);
    return list.sort( (a, b) => cmp(dir, a[ord], b[ord]) );
  };

  $: sorted = sorter(data.rates, asc, sortBy);
</script>

<div class="container">
  <table>
    <caption> Slot rates </caption>
    <colgroup>
    <col />
    <col span="2" />
  </colgroup>
  <thead>
    <tr>
      <th scope="col" on:click={() => handle("valid_from")}>
        From <Arrow value="valid_from" {sortBy} {asc} />
      </th>
      <th scope="col" on:click={() => handle("value")}>
        Rate (p) <Arrow value="value" {sortBy} {asc} />
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {#each sorted as result}
      <tr>
        <td> {formatter.format(result.valid_from)} </td>
        <td>
          {result.value.toFixed(1)}
        </td>
        <td class="rate">
          <span class="space" style="width: {data.offset}px;">
            {#if !result.pos}
              <span class="bar" style="width: {result.size}px;"></span>
            {/if}
          </span>
          {#if result.pos}
            <span class="bar" style="width: {result.size}px;"></span>
          {/if}
        </td>
      </tr>
    {/each}
  </tbody>
</table>
  </div>

<style>
  .container {
    display: flex;
    justify-content: center;
  }

  .rate {
    text-align: left;
    font-size: 0; /* to remove whitespace between span.space and (+ve rate) span.bar */
  }

  .space {
    display: inline-block;
    text-align: right;
  }

  .bar {
    display: inline-block;
    vertical-align: baseline;
    background-color: var(--color-table);
    height: 1rem;
  }
</style>
